<div class="footer">
    <div class="pull-right">
        ประกันคุณภาพ คณะวิศวกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330
    </div>
    <div>
        <strong>Copyright</strong> Chula Engineering &copy; 2015
    </div>
</div>
